div a {
  text-decoration: underline;
}

.musicWidth {
  color: aqua;
}

#audiocaption {
  width: 100px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.text2 {
  font-family: "Edu NSW ACT Foundation", cursive;
}

.title {
  font-family: "Fasthand";
}

.title2 {
  font-family: "Rubik Iso", cursive;
}

.titleNormal {
  font-family: "Times New Roman", Times, serif;
}
.underL a {
  color: aqua;
}

li {
  margin-left: 50px;
  list-style: disc;
}

blockquote {
  border-left: 5px solid #ccc;
  padding: 10px;
  margin: 10px;
  margin-left: 40px;
  background-color: darkslategray;
}
